<!-- do i need !DOCTYPE tag here?-->
<h1>Burgers</h1>
<h2>Burgers that are not devoured</h2>
<ul>
  <!--why are we using burgers rather than burger as per cats example?-->
  {{#each burgers}}
    <!--looks like logic statement inside html file-->
    {{#unless devoured}}
      <!--{{> cats/cat-block sleep=true}} we don't have burger-block file-->
    {{/unless}}
  {{/each}}
</ul>
<h2>Cats that are sleepy!</h2>
<ul>
  {{#each cats}}
    {{#if sleepy}}
      {{> cats/cat-block sleep=false}}
    {{/if}}
  {{/each}}
</ul>
<h2>Add a Cat</h2>
<form class="create-form">
  <div class="form-group">
    <label for="ca">Cat Name:</label>
    <input type="text" id="ca" name="name">
  </div>
  <div class="form-group">
    <label for="slee">Sleepy?</label><br>
    <input type="radio" name="sleepy" value="1" checked> Sleepy!<br>
    <input type="radio" name="sleepy" value="0"> Awake
  </div>
  <button type="submit">Add Cat</button>
</form>

<!--cat-block code below-->
<li>
  {{burger_name}}
  <button class="change-devour" data-id="{{id}}" data-newdevour="{{devour}}">
    {{#if devour}}Time to devour{{else}}Not hungry anymore{{/if}}
  </button>
</li>